{% extends "base.html" %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-4">
    <div class="card-body">
      <div class="col-md-12 col-form-label">
        <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.email.label }} {{ form.email(class='form-control') }}
        {{ form.username.label }} {{ form.username(class='form-control') }}
        {{ form.password.label }} {{ form.password(class='form-control') }}
        {{ form.pass_confirm.label }} {{ form.pass_confirm(class='form-control') }}<br>
        {{ form.submit(class='btn btn-primary') }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
